.SettingsCityItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #e0e0e0;

  &__left {
    display: flex;
    align-items: center;
  }

  &__cityName {
    margin-left: 8px;
    font-size: 0.875rem;
  }

  &__removeButtonIcon {
    width: 20px;
  }

  &__reorderButtonIcon {
    width: 16px;
  }
}
