.CitiesListItem {
  display: flex;
  flex-direction: column;

  &__cityName {
    margin-bottom: 8px;
    font-size: 0.875rem;
    font-weight: 700;
  }

  &__main {
    display: flex;
    align-items: center;
  }

  &__weatherIcon {
    width: 100px;
  }

  &__currentTemp {
    margin-left: 8px;
    font-size: 1.75rem;
    font-weight: 700;
  }

  &__weatherDescription {
    font-size: 0.75rem;
  }

  &__additionalInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 8px 12px;
    margin-top: 12px;
  }

  &__additionalInfoItem {
    display: flex;
    align-items: center;
  }

  &__additionalInfoIcon {
    width: 16px;
    margin-right: 8px;
  }

  &__additionalInfoText {
    font-size: 0.75rem;
  }
}
